<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="../profile">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <img src="../../assets/icon/favicon.png" class="img-class" />
    <ion-input type="file"></ion-input>
  </ion-row>


  <ion-card>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input [(ngModel)]="fname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input [(ngModel)]="lname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mobile Number</ion-label>
      <ion-input type="number" [(ngModel)]="num"></ion-input>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addTransaction()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
