.login-logo {
    text-align: center;
    margin: auto;
    right: 0px;
    left: 0px;
    margin-top: 20%;
    margin-bottom: 10%;
    .logo_icon {
      width: 200px;
    }
    .login-name {
      margin: 10px;
      font-size: 1.7rem;
      color: rgb(198, 47, 100);
    }
    .subTitle {
      margin: 10px;
      font-size: 1rem;
    }
  }
  
  .btn_class {
    color: black;
    height: 50px;
    margin-top: 20px;
    --border-radius: 5px;
    // border-radius: 5px;
    font-weight: 600;
  }
  
  .login-logo img {
    max-width: 150px;
  }
  
  ion-list {
    --ion-background-color: transparent;
    margin: 0px;
  }
  
  .createAcc {
    text-align: center;
    .registerTag {
      color: var(--ion-color-secondary);
      font-weight: bold;
    }
  }
  
  .error-message {
    padding-right: 25px;
    color: red;
    text-align: center;
  }
  
  
