<ion-header class="title">
  <ion-toolbar class="theme" color="var">
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="../my-listings">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm">
    <ion-card>
      <ion-item>
        <ion-label position="floating" color="dark">Item Name</ion-label>
        <ion-input formControlName="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="dark">Outlet Name</ion-label>
        <ion-input formControlName="Outlet"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="dark">Price (Rs.)</ion-label>
        <ion-input type="number" formControlName="Price"></ion-input>
      </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="button-color" (click)="addRecord()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
