<ion-header>
  <ion-toolbar color ="danger">  
    <ion-title><ion-icon name="person-sharp" size="medium"></ion-icon>Profile</ion-title>
    <ion-button slot="end" color="warning" (click)="logoutAction()">Log out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let data of profList">
  <ion-card *ngIf="isUser">
    <ion-card-content>
      <span *ngIf="!data.isEdit; else elseBlock">
        <ion-row class="img-card">
          <img [src]= "data.filePath" class="img-center" />
        </ion-row>

        <ion-row>
          <ion-list lines="full" class="ion-no-margin">
            <ion-item>
              <ion-label position="fixed" color="medium">First<br>Name</ion-label>
              <ion-input readonly>{{data.fname}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" color="medium">Last<br>Name</ion-label>
              <ion-input readonly>{{data.lname}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" color="medium">Phone<br>Number</ion-label>
              <ion-input readonly>{{data.num}}</ion-input>
            </ion-item>
          </ion-list>
        </ion-row>
      </span>
    </ion-card-content>


    <ng-template #elseBlock>
      <!-- <ion-card-content>  -->
      <ion-row>
        <ion-card color="light" class="ion-text-center img-card">
          <ion-card-content>
            <img [src]="data.filePath" class="img-center" *ngIf="!isUploaded"/>
            <img [src]="fileUrl" class="img-center" *ngIf="isUploaded"/>
            <ion-progress-bar type="indeterminate" *ngIf="isUploading"></ion-progress-bar>
          </ion-card-content>
        </ion-card>

        <div class="file-input">
          <input type="file" id="file" class="file" (change)="uploadFile($event.target.files)">
          <label for="file">Change Profile Photo</label>
        </div>
      </ion-row>


      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row class = "ion-align-items-start">
              <ion-col>
                <div id = "container">
                <ion-button fill="solid" color="medium" size="small" (click)="data.isEdit = false">
                  Cancel
                </ion-button></div>
              </ion-col>
              <ion-col>
                <div id = "container">
                <ion-button fill="solid" color="success" size="small" (click)="updateRecord(data)">
                  Update
                </ion-button></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="fixed"><strong>First<br>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="data.EditFname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"><strong>Last<br>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="data.EditLname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"><strong>Phone<br>Number</strong></ion-label>
          <ion-input type="number" [(ngModel)]="data.EditNum"></ion-input>
        </ion-item>
      </ion-card-content>

    </ng-template>
  <!-- </ion-card-content> -->

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" (click)="editRecord(data)" [disabled]="data.isEdit">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

