.shop {
  color: rgb(110, 110, 110);
}

.title {
  color: white;
}

.title,
ion-badge {
  color: white;
  background-color: rgb(198, 47, 100);
}

.ion-card-subtitle {
  color: rgb(198, 47, 100);
}

.Des {
  color: rgb(255, 255, 255);
}

