<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>My Listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of userList">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-subtitle>{{item.Outlet}}</ion-card-subtitle>
              <ion-card-title>{{item.Name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-badge color="danger">
                <small>Rs. </small>
                {{item.Price}}
              </ion-badge>
            </ion-card-content>
          </ion-col>
          <ion-col size="2">
            <ion-button color="primary" shape="round" (click)="editRecord(item)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button color="danger" shape="round" (click)="removeRecord(item.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </span>


    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="updateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Item Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Outlet Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditOutlet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Price</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" routerLink="../my-listings-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
