<ion-header class="title">
  <ion-toolbar class="theme" color= "var">
    <ion-row>
      <ion-col>
        <ion-title>
          <ion-icon  name="clipboard"></ion-icon>
          <span> My Listings</span>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img"> </div>
  <ion-card *ngFor="let item of backupItemList">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col align-items-center>
            <ion-card-subtitle class="shop">{{item.Outlet}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="3">
            <ion-badge class="listing-price-badge">
              <h2>
                <small>Rs. </small>
                {{item.Price}}
              </h2>
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row  class="ion-align-items-center">
          <ion-col>
            <ion-card-title class="Des">{{item.Name}}</ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-button  shape="round" fill="outline" size="small" (click)="editRecord(item)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button color="danger" shape="round" fill="outline" size="small" (click)="removeRecord(item.id)">
              <ion-icon name="trash" (click)="removeRecord(item.id)"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </span>

    <ng-template #elseBlock>
      <ion-card-header  class="ion-no-padding ion-padding-top ion-padding-start">
        <ion-card-title>
            <ion-row>

              <ion-col size="4">
                <ion-button fill="solid" color="danger" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button fill="solid" color="success" size="small" (click)="updateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="success" position="stacked">Item Name</ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="success" position="stacked">Outlet Name</ion-label>
          <ion-input type="text" [(ngModel)]="item.EditOutlet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  color="success" position="stacked">Price</ion-label>
          <ion-input type="number" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>



  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="button-color" routerLink="../my-listings-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
